{% if page.is_index %}{% assign content = post.content %}{% endif %}

<article class="twelve columns">
	<header>
		<h2>
			{% if page.is_index %}
				<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			{% else %}
				{{ page.title}}
			{% endif %}
		</h2>
		{% if page.subtitle %}
			<h3 class="subtitle">{{ page.subtitle }}</h3>
		{% endif %}
	</header>
  
  <div class="content">
    {{ content }}
  </div>

  <footer>
  	{% if post %}
  		{% assign date = post.date %}
  		{% assign categories = post.categories %}
  	{% else %}
  		{% assign date = page.date %}
  		{% assign categories = page.categories %}
  	{% endif %}
  	<p>{{ date | date:'%d %B %Y' }}</p>
		{% for category in categories %}
		<p>{{ category }}</p>
		{% endfor %}
  </footer>
</article>